In [1]:
import pandas as pd

In [2]:
sp500_tickers = pd.read_html(r'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0][['Symbol', 'Security']]

In [3]:
sp500_tickers

    Symbol              Security
0      MMM                    3M
1      AOS           A. O. Smith
2      ABT                Abbott
3     ABBV                AbbVie
4      ACN             Accenture
..     ...                   ...
498    YUM           Yum! Brands
499   ZBRA    Zebra Technologies
500    ZBH         Zimmer Biomet
501   ZION  Zions Bancorporation
502    ZTS                Zoetis

[503 rows x 2 columns]

In [4]:
sp500_tickers.to_csv('companies.csv', index=False, header=False)